<div class="container-fluid">
    <div class="row">
        <!-- Utiliza el bucle @for para recorrer la lista de fotos (photoList) -->
        @for (item of photoList; track item.id){
             <!-- Para cada elemento de photoList, crea una columna Bootstrap -->
            <div class="col-sm-4">
                <!-- Utiliza el componente 'app-photo' para mostrar la foto -->
                <app-photo [photo]="item"></app-photo>
            </div>
        }
        
        @empty { <!-- Si la lista de fotos está vacía, muestra un mensaje de error -->
            <div class="alert alert-danger">
                <p>
                    No se han registrado fotografías por el momento. Por favor, contacte al administrador.
                </p>
            </div>
        }
    </div>
</div>
